@import "./value";


#art{
    padding: 3rem;
    .title{
        @include row;
        align-items: center;
        color: $color-primary;
        .title-circle{
            background-color: $color-primary;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            margin-right: 3rem;
        }
        .title-text{
            font-weight: 300;
            letter-spacing: 1rem;
            font-size: 1.3rem;

        }
        
    }
    .art-work{
        padding: 3rem 3rem 5rem 6rem;
        width: 100vw;
        height: auto;
        flex-wrap: wrap;
        @include row;
        img{
            width: 25vw;
            height: auto;
            padding-right: 0.5rem;
            padding-bottom: 0.5rem;
        }
        .work{
            @include row;
            .fb-like{
                position: absolute;
                margin: 0.5rem;

            }

        }
    }
}