*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  padding: 2rem;
  background-color: black;
  background-image: url("/img/portrait.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 92vh;
  background-position-x: right;
}

body .body-border {
  background-color: #4F04EF;
  width: 0.1rem;
  height: 100vh;
  position: fixed;
  left: 6.5rem;
  z-index: -1;
}

body .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .nav-bar .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4F04EF;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

body .nav-bar .nav-logo a {
  cursor: pointer;
  color: #2C0C71;
  text-decoration: none;
}

body .nav-bar .nav-logo a h2 {
  font-weight: 200;
}

body .nav-bar .nav-logo a:hover {
  color: #7d5eee;
}

body .nav-bar .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

body .nav-bar .main-nav li {
  padding-right: 1rem;
}

body .nav-bar .main-nav a {
  cursor: pointer;
  color: #4F04EF;
  text-decoration: none;
}

body .nav-bar .main-nav a:hover {
  color: #7d5eee;
}

body .main {
  padding: 3rem;
}

body .main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F04EF;
  padding-top: 10rem;
  padding-bottom: 13rem;
}

body .main .title .title-circle {
  background-color: #4F04EF;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
}

body .main .title .title-text {
  font-weight: 300;
  letter-spacing: 1rem;
  font-size: 1.3rem;
}

#design {
  padding: 3rem;
}

#design .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F04EF;
}

#design .title .title-circle {
  background-color: #4F04EF;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
}

#design .title .title-text {
  font-weight: 300;
  letter-spacing: 1rem;
  font-size: 1.3rem;
}

#design .design-work {
  padding: 3rem 3rem 5rem 6rem;
  width: 100vw;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#design .design-work img {
  width: 25vw;
  height: auto;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

#about {
  padding: 3rem;
}

#about .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F04EF;
}

#about .title .title-circle {
  background-color: #4F04EF;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
}

#about .title .title-text {
  font-weight: 300;
  letter-spacing: 1rem;
  font-size: 1.3rem;
}

#about .about-content {
  padding: 4rem 0 6rem 6rem;
  color: #4F04EF;
  line-height: 2rem;
  width: 40vw;
}

#about .about-content .about-content-text-title {
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.5rem;
  padding-bottom: 0.5rem;
}

#about .about-content .about-content-text {
  letter-spacing: 0.3rem;
}

#art {
  padding: 3rem;
}

#art .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F04EF;
}

#art .title .title-circle {
  background-color: #4F04EF;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
}

#art .title .title-text {
  font-weight: 300;
  letter-spacing: 1rem;
  font-size: 1.3rem;
}

#art .art-work {
  padding: 3rem 3rem 5rem 6rem;
  width: 100vw;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#art .art-work img {
  width: 25vw;
  height: auto;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

#illust {
  padding: 3rem;
}

#illust .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F04EF;
}

#illust .title .title-circle {
  background-color: #4F04EF;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
}

#illust .title .title-text {
  font-weight: 300;
  letter-spacing: 1rem;
  font-size: 1.3rem;
}

#illust .illust-work {
  padding: 3rem 3rem 5rem 6rem;
  width: 100vw;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#illust .illust-work img {
  width: 25vw;
  height: auto;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

#contact {
  padding: 3rem;
}

#contact .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F04EF;
}

#contact .title .title-circle {
  background-color: #4F04EF;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
}

#contact .title .title-text {
  font-weight: 300;
  letter-spacing: 1rem;
  font-size: 1.3rem;
}

#contact .contact {
  padding: 3rem 2rem 8rem 8rem;
  color: #4F04EF;
}

#contact .contact .contact-detail {
  width: 30vw;
  height: auto;
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
}

#contact .contact .contact-detail label {
  letter-spacing: 0.2rem;
}

#contact .contact .contact-detail textarea {
  width: 30vw;
  padding: 1rem;
}

#contact .contact .contact-detail input {
  width: 30vw;
  height: 2rem;
  padding: 1rem;
}

#contact .contact .contact-detail select {
  width: 30vw;
  height: 2rem;
}

#contact .contact .submit-btn {
  padding-left: 0.5rem;
}

#contact .contact .submit-btn input[type=submit] {
  cursor: pointer;
  width: 30vw;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #4F04EF;
  color: #7d5eee;
  border: 0;
}

#contact .contact .submit-btn input[type=submit]:hover {
  color: #fff;
  font-weight: 200;
}
/*# sourceMappingURL=main.css.map */